.h1{
    font-family: 'Montserrat',sans-serif;
    font-size:40px;
    font-weight: 600;
    padding:20px;
    
}
.content{
    padding: 0;
    margin-bottom:50px;
    font-family: 'Montserrat',sans-serif;
    text-align: center;
    background-color:#1f2833;
    display:inline-block;
    position: relative;
    height:590px;
    width:100%;
}
@media (max-width:768px) {
    .content{
        margin-bottom:110px;
        height:730px;
    }
    .text_area{
        size:200px;
        width: 350px;
        padding-left:60px;
    }
  
}
@media (max-width:500px) {
    .content{
        margin-bottom:110px;
        height:730px;
    }
    .text_area{
        size:200px;
        width: 400px;
        padding-left:100px;
    }
  
}
.input_area input{
    width: 280px;
    height: 40px;
    border-left:none;
    border-right:none;
    border-top: none ;
    background-color: #1f2833;
    outline:none;
    border-color: aliceblue;
    margin: 50px;
}
.input_area input::placeholder{
    color:#c5c6c7;
    font-size:18px;
    font-weight: 600;
    padding-left:10px;
}
.text_area textarea{
    width: 100%;
    max-width: 670px;
    height:250px;
    resize: none;
    border-left:none;
    border-right:none;
    border-top: none ;
    background-color: #1f2833;
    outline: none;
    border-bottom: aliceblue 3px solid;
}
.text_area textarea::placeholder{
    color: #c5c6c7;
    font-size:18px;
    font-weight: 600;
    padding-left:10px;
}
.btn{
    width:140px;
    height:50px;
    background-color: #0b0c10;
    color:#c5c6c7;
    border:#45a29e 2px solid;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    align-self: center;
    margin-top: 20px;
}
.btn:hover{
    background-color: #66fcf1;
    color:#0b0c10;
    border: black 2px solid;
}
