.navbar {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    width:100%;
    height:80px;
}
.h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:40px;
    color: bisque;
    padding: 10px;
    position: fixed;
}
.link{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:30px;
    color: bisque;
    margin:10px;
    padding: 10px;
}
.link_group{
    position: relative;
    padding-left:1150px;
    padding-top:20px;
}
.btn{
    background-color: transparent;
    display: none;
}
@keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @media (max-width:768px) {
    .navbar {
      display:flex;
      justify-content: space-between;
    }
    .h1{
        position:relative;
        font-size:30px;
        text-wrap: break-word;
    }
    .btn{
        display:flex;
        width:50px;
        height:50px;
        background-color: transparent;
        border-radius:10px;
        outline: none;
        border: none;
        margin:10px;
        cursor: pointer;
    }
    .btn > svg{
        align-self:center;
        margin-left: 18px;
    }
    .link_group {
      display: none; 
    }
    .toggle_link_group {
        background-color: rgba(0, 0, 0, 0.7); 
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 1;
        position: absolute; 
        top: 80px; 
        right: 0; 
        animation:fade-in 2s ease; 
        border-radius:5px;
      }
  }
  @media (max-width:1300px) {
   
    .link{
        font-size: 20px;
    }
    .link_group{
        position: fixed;
        left: 0; 
        top: 0; 
        transform: translateX(-630px); 
    }
    .toggle_link_group {
        background-color: rgba(0, 0, 0, 0.7); 
        width:100%;
        display: flex;
        flex-direction: column;
        z-index: 1;
        position: absolute; 
        top: 80px; 
        right: 0; 
        animation:fade-in 2s ease; 
       
      }
  
}



  