.navbar {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    width:100%;
    height:80px;
  
}
.h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:40px;
    color: bisque;
    padding: 10px;
}
.link{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:30px;
    color: bisque;
    margin:10px;
}
.btn{
    display: none;
}

  @media (max-width: 768px) {
    .navbar {
      justify-content: flex-end; 
    }
  
    .link_group {
      display: none; 
    }
  
    .true {
      display: block !important;
    }
  }

  